@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

h1 {
  font-size: 3.5em;
  margin-top: 50px;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  width: 100%;
  padding:20px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
}

.tambah {
  background-color: #4CAF50;
  color: white;
}

.reset {
  background-color: #f44336;
  color: white;
  margin-bottom: 30px;
}

ul li {
  list-style-type: none;
  font-size: 1.2rem;
}

.data-siswa {
  margin-top: 30px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 30px 60px;
  border-radius: 10px;

}

h3 {
  font-size: 2em;
  margin-bottom: 40px;
}

