@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,808;1,98&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3rem;
  margin-top: 100px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  padding:20px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
}

.tambah {
  background-color: #4CAF50;
  color: white;
}

.reset {
  background-color: #f44336;
  color: white;
}

ul li {
  list-style-type: none;
  font-size: 1.2rem;
}